<hr/>

<footer class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://twitter.com/{{site.twitter}}">
                    <i class="fab fa-twitter"></i>
                    <span>Twitter</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://github.com/{{site.github}}">
                    <i class="fab fa-github"></i>
                    <span>GitHub</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="mailto:{{site.email}}">
                    <i class="fas fa-paper-plane"></i>
                    <span>E-mail</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{site.repository}}">
                    <i class="fas fa-code"></i>
                    <span>Source Code</span>
                </a>
            </li>
        </ul>
    </div>
</footer>