<hr/>

<footer class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/">
                    <i class="fas fa-home"></i>
                    <span class="md-display">Home</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="https://twitter.com/{{site.twitter}}">
                    <i class="fab fa-twitter"></i>
                    <span class="md-display">Twitter</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="https://github.com/{{site.github}}">
                    <i class="fab fa-github"></i>
                    <span class="md-display">GitHub</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="mailto:{{site.email}}">
                    <i class="fas fa-paper-plane"></i>
                    <span class="md-display">E-mail</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="https://github.com/{{site.repository}}">
                    <i class="fas fa-code"></i>
                    <span class="md-display">Source Code</span>
                </a>
            </li>
        </ul>
    </div>
</footer>