<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://purecss.io/">About</a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://twitter.com/yuilibrary/">Twitter</a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://github.com/pure-css/pure/">GitHub</a>
            </li>
        </ul>
    </div>
</div>