<p>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
    </time>
    {%- if page.modified_date -%}
    ~
    {%- assign mdate = page.modified_date | date_to_xmlschema -%}
    <time datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
    </time>
    {%- endif -%}
    &#8239;
    {%- if page.author -%}
    {% for author in page.author %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">By: {{ author }}</span></span>
    {%- if forloop.last == false %}, {% endif -%}
    {% endfor %}
    {%- endif -%}
    &#8239;|&#8239;
    {%- for tag in page.tags -%}
    <a href="/tags/#{{ tag }}">#{{ tag }}</a> &#8239;
    {%- endfor -%}
</p>