<div class="menu">
    <div class="about">
        <a href="/about">
            <i class="fas fa-signature"></i>
            About
        </a>
    </div>
    <div class="hashtags">
        <a href="/tags">
            <i class="fas fa-hashtag"></i>
            Tags
        </a>
    </div>
    <div class="categories">
        <a href="/categories">
            <i class="far fa-folder-open"></i>
            Categories
        </a>
    </div>
    <div class="archive">
        <a href="/archive">
            <i class="fas fa-archive"></i>
            Archive
        </a>
    </div>
    <div class="rss">
        <a href="/feed.xml">
            <i class="fas fa-rss"></i>
            RSS
        </a>
    </div>
    <div class="donate">
        <a href="{{ site.donate_link }}">
            <i class="fas fa-dollar-sign"></i>
            Donate
        </a>
    </div>
</div>