.highlight table td {
    padding: 5px;
}

.highlight table pre {
    margin: 10px;
}

.highlight pre {
  padding: 15px;
  background-color: #1f1f1f;
  border-radius: 5px;
  line-height: 2em;
}

.highlight code {
  max-width: 200px;
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.highlight,
.highlight .w {
    color: #cccccc;
}

.highlight .err {
    color: #002b36;
    background-color: #dc322f;
}

.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
    color: #657b83;
}

.highlight .cp {
    /* color: #b58900; */
    color: #fff2a8;
}

.highlight .nt {
    /* color: #b58900; */
    color: #adad95;
}

.highlight .o,
.highlight .ow {
    color: #93a1a1;
}

.highlight .p,
.highlight .pi {
    color: #93a1a1;
}

.highlight .gi {
    color: #859900;
}

.highlight .gd {
    color: #dc322f;
}

.highlight .gh {
    color: #268bd2;
    background-color: #002b36;
    font-weight: bold;
}

.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
    color: #6c71c4;
}

.highlight .kc {
    color: #cb4b16;
}

.highlight .kt {
    color: #cb4b16;
}

.highlight .kd {
    color: #cb4b16;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
    /* color: #859900; */
    color: #80ab8c;
}

.highlight .sr {
    color: #2aa198;
}

.highlight .si {
    color: #d33682;
}

.highlight .se {
    color: #d33682;
}

.highlight .nn {
    color: #b58900;
}

.highlight .nc {
    color: #b58900;
}

.highlight .no {
    color: #b58900;
}

.highlight .na {
    /* color: #268bd2; */
    color: #e6db81;
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
    color: #859900;
}

.highlight .ss {
    color: #859900;
}
