---
layout: default
---
{{ content }}

{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

<div class="md-display">
    <h1>Welcome to {{site.title}} </h1>
</div>

<div class="posts">
    <h1 class="content-subhead">Recent Posts</h1>

    {%- if posts.size > 0 -%}
    {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
    {%- for post in posts -%}
    <section class="post">
        <header class="post-header">
            <img width="48" height="48" alt="Tilo Mitra&#x27;s avatar" class="post-avatar"
                src="/img/common/tilo-avatar.png">

            <h2 class="post-title"> <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a></h2>

            <p class="post-meta">
                Posted:
                {{ post.date | date: date_format }} |
                By <a href="#" class="post-author">{{ site.author }}</a> under <span>
                    {% for tag in post.tags %}
                    <a href="/tags/#{{ tag }}">#{{ tag }}</a>
                    {% endfor %}
                </span>
            </p>
        </header>

        <div class="post-description">
            <p>
                <em>{{ post.content | strip_html | escape | truncate: 300}}</em>
            </p>
        </div>
    </section>
    {%- endfor -%}
</div>


<br />

{% if site.paginate %}
<div id="pages">
    {%- if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">
        < Previous</a> {%- else %} <strong>#</strong>
            {%- endif %}

            <strong id="current-page">
                Page
                {{ paginator.page }}
            </strong>

            {%- if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}" class="next-page">Next ></a>
            {%- else %}

            <strong>#</strong>

            {%- endif %}
</div>
<br />
{%- endif %}
{%- endif -%}