---
layout: default
---
{{ content }}

{% assign projects = site.projects %}

<div class="notes">
    <h2 class="content-subhead">TODO: Projects (formatted differently)</h2>

    {%- if projects.size > 0 -%}

        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

        {%- for project in projects -%}
            <section class="post">
                <header class="note-header">
                    <h2 class="post-title">
                        <a href="{{ project.url | relative_url }}">
                            {{ project.title | escape }}
                        </a>
                    </h2>

                    <p class="post-meta">
                        Tagged:
                        <span>
                            {% for tag in project.tags %}
                                <a href="/tags/#{{ tag }}">#{{ tag }}</a>
                            {% endfor %}
                        </span>
                    </p>
                </header>

                <div class="post-description">
                    <p>
                        <em>{{ project.content | strip_html | escape | truncate: 300}}</em>
                    </p>
                </div>
            </section>
        {%- endfor -%}
    </div>


    <br/>

{%- endif -%}
